# Application Configuration
ENV=development
PORT=8080
JWT_SECRET=production_ready_very_long_jwt_secret_key_here

# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=go_template_db

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Allowed CORS Origins
FRONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:3067

# Goose CLI Configuration (for running CLI migrations directly)
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/go_template_db?sslmode=disable
